[submodule "Assets/Core2"]
	path = Assets/Core2
	url = https://github.com/Silvestor83/Core.git
[submodule "Assets/Minigames"]
	path = Assets/Minigames
	url = https://github.com/Silvestor83/Minigames.git
